{% extends "base.html" %}
{% block left %}

<h2>About Me</h2>

<p>
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
</p>
{% endblock %}

{% block right %}
{% include "mainImg.html" %}
{% endblock %}
