{% extends "base.html" %}
{% block left %}

<h2>What's this site all about?</h2>

<p>
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
    This is all about this website.
</p>
{% endblock %}

{% block right %}
{% include "mainImg.html" %}
{% endblock %}
