.leftImg {
    float: left;
    margin: 0 30px 0 30px;
    width: 37%;
    height: auto;
}

div.homerow {
    width: 100%;
    height: auto;
    white-space: nowrap;
}

div.homerow > img {
    margin-left: 20px;
}


.contactheader img {
    float: left;
}

.contactheader h2 {
    position: relative;
}

div.aboutme h1, div.aboutme h2{
    font-family: 'Alegreya Sans SC';
    margin-top: 0;
}

div.aboutme p{
    font-family: 'Alegreya Sans';
}

div.aboutme p {
    font-size: 19px;
}

div.answer p:last-child {
    margin-bottom: 25px;
}

.weblogo h2 {
    top: 4px;
}

.emaillogo h2 {
    top: 4px;
    left: 7px;
}
    
.phonelogo h2 {
    top: 4px;
    left: 5px;
}

.phonelogo p {
    font-size: 14pt;
}

.topbuffer {
    margin-top: 15px;
}

.resume-container {
    margin-left: 25px;
}
