.topbuffer {
    margin-top: 10px;
}

.leftbuffer {
    margin-left: 40px;
}

.rightbuffer {
    margin-right: 8px;
}

.leftsection {
    background-color: #FFFFFF;
    margin: 0 0 0 0;
    padding: 0;
}

.rightsection {
    background-color: #FFFFFF;
}
