.left {
    float: left;
    margin: 0 30px 0 30px;
}

div.homerow > img {
    margin-right: 15px;
}

div.homerow > img:first-child{
    margin-left: 30px;
}

div.contactrow > img {
    float: left;
}

.ContactImg {}

.topbuffer {
    margin-top: 15px;
}

.resume-container {
    margin-left: 25px;
}
