{% extends "base.html" %}
{% block left %}

<h2>Coursework</h2>

<p>
In this page, I will display all of my past, current, and future coursework with BCC.
In this page, I will display all of my past, current, and future coursework with BCC.
In this page, I will display all of my past, current, and future coursework with BCC.
In this page, I will display all of my past, current, and future coursework with BCC.
In this page, I will display all of my past, current, and future coursework with BCC.
In this page, I will display all of my past, current, and future coursework with BCC.
In this page, I will display all of my past, current, and future coursework with BCC.
In this page, I will display all of my past, current, and future coursework with BCC.
In this page, I will display all of my past, current, and future coursework with BCC.
In this page, I will display all of my past, current, and future coursework with BCC.
In this page, I will display all of my past, current, and future coursework with BCC.
In this page, I will display all of my past, current, and future coursework with BCC.
In this page, I will display all of my past, current, and future coursework with BCC.
In this page, I will display all of my past, current, and future coursework with BCC.
In this page, I will display all of my past, current, and future coursework with BCC.
In this page, I will display all of my past, current, and future coursework with BCC.
</p>
{% endblock %}

{% block right %}
{% include "mainImg.html" %}
{% endblock %}
