{% extends "base.html" %}

{% block left %}
{% include "mainImg.html" %}
{% endblock %}

{% block right %}

<h2>About Me</h2>

<p>
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
Meeemememememememememe. Blah blah blah...
</p>
{% endblock %}
