{% extends "base.html" %}

{% block main_content %}
<div class="aboutme">
    <img id="leftImg" src="{{ url_for('static', filename='img/Pig.jpg') }}" class="img-rounded" alt="Pig"/>


    <div id="interview">
        <h1 align="center">About Me</h1>
        <h2>Who are you?</h2>
        <div class="answer">
            <p>My name is Bryan Bugyi and I am a student of Computer Science.&nbsp; I have been enthusiastic about computers for as long as I can remember and consider myself extraordinarily fortunate to have the opportunity to make a career out of something that I love.&nbsp; </p>
        </div>

        <h2>Tell me more about yourself.</h2>
        <div class="answer">
            <p>I am 25 years old and I live with my girlfriend Kelly.&nbsp; She is my rock.&nbsp; When I'm not studying or working on a project, my favorite things to do are to spend time with her and our Olde English Bulldog, Rocky.&nbsp; 

            <p>If there is just one thing that you should know about me, it is that I am passionate about practically everything that I do.&nbsp; And I consider it a responsibility of mine to ensure that this forever remains the case.&nbsp;</p>

            <blockquote cite="http://www.womansday.com/life/entertainment/q-and-a/a4612/get-inspired-qa-deepak-chopra-101286"/>
                <em><q>Always go with your passions. Never ask yourself if it's realistic or not.</q></em> <footer>Deepak Chopra</footer>
            </blockquote>

        </div>

        <h2>What are your interests?</h2>
        <div class="answer">
            <p>The following word cloud does a pretty good job of showing how I prioritize my interests. (created using <a href="http://wordle.net">Wordle</a>)</p>
            <img src="{{ url_for('static', filename='img/wordle2.png') }}" width="90%" alt="Word Cloud"/>
        </div>

        <h2>Tell me about this website.</h2>
        <div class="answer">
            <p>This website is intended to serve as the central hub for my online identity, as an online host for my resume, and as a programming playground where I can test JavaScript code as I work to better understand the language and web development in general.&nbsp; </p>

            <p>This website is hosted on a cloud server that I am renting from <a href="http://www.digitalocean.com">DigitalOcean</a>.&nbsp; The content on this site has been served to you with the help of <a href="http://flask.pocoo.org">Flask</a>, a lightweight Python web framework.&nbsp; </p>

            <p>If you are interested in better understanding how this website was built, it's codebase can be viewed <a href="https://github.com/bbugyi200/myWebsite">here</a>.</p>
        </div>
    </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/myscripts.js') }}" type="text/javascript" charset="utf-8"></script>


{% endblock %}
