{% extends "base.html" %}

{% block main_content %}
    <img src="{{ url_for('static', filename='img/Pig.jpg') }}" class="leftImg img-rounded" alt="Pig"/>
<!-- width=660 height=879 --> 

    <div class="col-lg-6 aboutme">
        <h1 align="center">About Me</h1>
        <h2>Who are you?</h2>
        <div class="answer">
            <p>My name is Bryan Bugyi and I am a student of Computer Science.&nbsp; I have been passionate about computers for as long as I can remember and consider myself extraordinarily fortunate to have the opportunity to make a career out of something that I love.&nbsp; </p>
        </div>

        <h2>Tell me more about yourself.</h2>
        <div class="answer">
            <p>I am 25 years old and I live with my girlfriend Kelly.&nbsp; She is my rock.&nbsp; When I'm not studying or working on a project, my favorite things to do are to spend time with her and our Olde English Bulldog, Rocky.&nbsp; After much deliberation, he has agreed to allow me to post photos of him on my website.&nbsp; As you can tell from the picture to the left, he is quite overjoyed about the idea.&nbsp; </p>

            <p>When not with the family, you might find me at the beach surfing.&nbsp; I have been surfing for 6 years now and have fallen in love with the sport.&nbsp; There are few places I'd rather be than 50 yards out waiting for the next set to roll in.&nbsp; </p>

            <!-- I must admit, I'm still not that great and haven't had the chance to go out nearly as much as I would have liked over the last couple of years.&nbsp; Yet, even still, --> 

            <!-- For example, I don't just make coffee.&nbsp; I grind my locally roasted coffee beans to the perfect level of coarseness before <em>brewing</em> the best damn cup of coffee man hath ever laid eyes upon (at least I'd like to think so).&nbsp; -->

            <p>What else?&nbsp; Well, I am a very passionate person.&nbsp; I suppose you could say that I am the <em>"go big or go home"</em>&nbsp; type with just about everything that I do.&nbsp; On a related note, I have been told on more than one occasion that I can be a bit obsessive.&nbsp; And I guess I would have to agree, but you know what?&nbsp; Obsession can manifest as either a gift or a curse, or oftentimes both.&nbsp; Moreover, I would even say that obsession is a necessary condition for the presence of passion.&nbsp; Overall, I am incredibly grateful that both are traits that come so effortlessly for me.&nbsp; </p>

<!-- Obsession can be a gift or a curse, and is oftentimes both.&nbsp; -->

            <!-- With that said, it would not be right of me to sugarcoat the ugly side of obsession.&nbsp; The truth is, finding the right balance between passion and delusion has been my lifelong struggle.&nbsp; But I can honestly say that it is one that I would not give up for the world.&nbsp; -->
        </div>

        <h2>Tell me about this website.</h2>
        <div class="answer">
            <p>This website is intended to serve as the central hub for my online identity, as an online host for my resume, and as a programming playground where I can test JavaScript code as I work to better understand the language and web development in general.&nbsp; </p>

            <p>This website is hosted on a cloud server that I am renting from <a href="http://www.digitalocean.com">DigitalOcean</a>.&nbsp; The content on this site has been served to you with the help of <a href="http://flask.pocoo.org">Flask</a>, a lightweight Python web framework.&nbsp; </p>
        </div>


        <!-- <h2>What are your interests?</h2> -->
        <!-- <div class="answer"> -->
        <!--     <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p> -->
        <!-- </div> -->

        <!-- <h2>What do you stand for?</h2> -->
        <!-- <div class="answer"> -->
        <!--     <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p> -->
        <!-- </div> -->
    </div>

{% endblock %}
