{% extends "bootstrap/base.html" %}

{% block title %} bryanbugyi.com {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyle.css', _external=True) }}" type="text/css" media="screen" title="no title" charset="utf-8">
{{ super() }}
{% endblock %}

{% block content %}
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
           <ul class="nav navbar-nav">
               <li {% if pagetype == "home" %} class="active" {% endif %}>
               <a href={{ url_for('main.home') }}><span class="glyphicon glyphicon-home"></span> Home</a>
               </li>
                <li {% if pagetype == "about" %} class="active" {% endif %}>
                <a href={{ url_for('main.about') }}><span class="glyphicon glyphicon-question-sign"></span> About Me</a>
                </li>   
                <li {% if pagetype == "resume" %} class="active" {% endif %}>
                <a href={{ url_for('main.resume') }}><span class="glyphicon glyphicon-file"></span> My Resume</a>
                </li>
           </ul>
        </div>
    </nav>

        {% block top %}
        <div class="toptitle">
            <h1>{{ toptitle }}</h1>
        </div>
        {% endblock %}

        <div class="col-md-5 leftsection">
                {% block left %}
                {% endblock %}
        </div>

        <div class="col-md-7 rightsection">
            <div>
                {% block right %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

<footer>
</footer>
{% endblock %}
