{% extends "base.html" %}
{% block main_content %}

<div class="container-fluid">
    <div class="row ContactImg">
        <div class="col-lg-8 col-lg-offset-2">
            <img src="{{ url_for('static', filename='img/SleepingPanther2.jpeg', _external=True) }}" width=1150 height=589 alt="SleepingPanther2"/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="col-lg-4">
                <div class="contactheader weblogo">
                    <img src="{{ url_for('static', filename='img/logos/web_logo.png', _external=True) }}" alt="web_logo" width=42 height=40 />
                    <h2>Web</h2>
                </div>
                <p>
                <a href="https://www.facebook.com/bryan.bugyi">www.facebook.com/bryan.bugyi</a>
                <br>
                <a href="http://www.github.com/bbugyi200">www.github.com/bbugyi200</a>
                </p>
            </div>

            <div class="col-lg-4">
                <div class="contactheader emaillogo">
                    <img src="{{ url_for('static', filename='img/logos/email_logo.jpeg', _external=True) }}" alt="email_logo" width=35 height=35 />
                    <h2>Email</h2> 
                </div>
                <p>
                <a href="mailto:bryanbugyi34@gmail.com">bryanbugyi34@gmail.com</a>
                <br>
                <a href="mailto:bryan_bugyi@mail.rcbc.edu">bryan_bugyi@mymail.rcbd.edu</a>
                </p>
            </div>

            <div class="col-lg-4">
                <div class="contactheader phonelogo">
                    <img src="{{ url_for('static', filename='img/logos/phone_logo2.png') }}" alt="phone_logo" width=30 height=35 />
                    <h2>Phone</h2> 
                    <p>(609)500-7081</p>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock %}
