<div class="container">
    <div class="row">
        <img src="{{ url_for('static', filename='img/MeAndKelly.jpg', _external=True) }}" class="leftbuffer rightbuffer" width=367px height=490px alt="Kelly and Me"/>

            <img src="{{ url_for('static', filename='img/Pig2.png', _external=True) }}" width=275px height=490px alt="Pig2"/>
    </div>

    <div class="row">
            <img src="{{ url_for('static', filename='img/KellyAndDogs.jpeg', _external=True) }}" class="leftbuffer rightbuffer" width=367px height=275px alt="Kelly and Dogs"/>

            <img src="{{ url_for('static', filename='img/MeAndKelly2.jpg', _external=True) }}" class="topbuffer" width=275px height=368px/>
    </div>
</div>
