{% extends "base.html" %}

{% block main_content %}
<div class="container-fluid">
    <div class="row homerow">
        <img src="{{ url_for('static', filename='img/MeAndKelly.jpg', _external=True) }}" class="img-rounded" width=20% height=auto alt="Kelly and Me"/>

            <img src="{{ url_for('static', filename='img/Pig2.png', _external=True) }}" class="img-rounded" width=15% height=auto alt="Pig2"/>

            <img src="{{ url_for('static', filename='img/MeAndKelly3.jpeg', _external=True) }}" class="img-rounded" width=23% height=auto alt="DogsAtSmithville"/>

            <img src="{{ url_for('static', filename='img/DogsFireplace.jpeg', _external=True) }}" class="img-rounded" width=20% height=auto alt="DogsFireplace"/>

            <img src="{{ url_for('static', filename='img/Pig3.png', _external=True) }}" class="img-rounded" width=15% height=auto alt="Pig3"/>

    </div>

    <div class="row topbuffer homerow">
            <img src="{{ url_for('static', filename='img/KellyAndDogs.jpeg', _external=True) }}" class="img-rounded" width=20% height=auto alt="Kelly and Dogs"/>

            <img src="{{ url_for('static', filename='img/MeAndKelly2.jpg', _external=True) }}" class="img-rounded" width=15% height=auto />

            <img src="{{ url_for('static', filename='img/Wedding.jpg', _external=True) }}" class="img-rounded" width=23% height=auto alt="Wedding"/>

            <img src="{{ url_for('static', filename='img/MeAndKelly4.png', _external=True) }}" class="img-rounded" width=20% height=auto alt="MeAndKelly4"/>

            <img src="{{ url_for('static', filename='img/MeUnderPier.jpg', _external=True) }}" class="img-rounded" width=15% height=auto alt=""/>
    </div>
</div>
{% endblock %}
