{% extends "base.html" %}

{% block main_content %}
<div class="container-fluid">
    <div class="row">
        <img src="{{ url_for('static', filename='img/MeAndKelly.jpg', _external=True) }}" width=367px height=490px alt="Kelly and Me"/>

            <img src="{{ url_for('static', filename='img/Pig2.png', _external=True) }}" width=275px height=490px alt="Pig2"/>

            <img src="{{ url_for('static', filename='img/MeAndKelly3.jpeg', _external=True) }}" width=420 height=490 alt="DogsAtSmithville"/>

            <img src="{{ url_for('static', filename='img/DogsFireplace.jpeg', _external=True) }}" width=367 height=490 alt="DogsFireplace"/>

            <img src="{{ url_for('static', filename='img/Pig3.png', _external=True) }}" width=275 height=490 alt="Pig3"/>

    </div>

    <div class="row">
            <img src="{{ url_for('static', filename='img/KellyAndDogs.jpeg', _external=True) }}" width=367px height=275px alt="Kelly and Dogs"/>

            <img src="{{ url_for('static', filename='img/MeAndKelly2.jpg', _external=True) }}" class="topbuffer" width=275px height=368px/>

            <img src="{{ url_for('static', filename='img/Wedding.jpg', _external=True) }}" width=420 height=279 alt="Wedding"/>

            <img src="{{ url_for('static', filename='img/MeAndKelly4.png', _external=True) }}" width=367 height=312 alt="MeAndKelly4"/>
    </div>
</div>
{% endblock %}
